body {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100vh;
	.wrap {
		border: 1px solid #000;
		span {
			display: block;
			text-align: center;
			letter-spacing: 3px;
			font-size: 45px;
		}
		.shape {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			.red {
				background: #ea4c1d;
				width: 75px;
				height: 75px;
				border-radius: 50% 0 0 50%;
			}
			.pink {
				background: #f76e5f;
				width: 75px;
				height: 75px;
				border-radius: 0 50% 50% 0;
			}
			.purple {
				background: #9d56f7;
				width: 75px;
				height: 75px;
				border-radius: 50% 0 0 50%;
			}
			.blue {
				background: #19b6f6;
				width: 75px;
				height: 75px;
				border-radius: 100%;
			}
			.green {
				background: #0ac97f;
				width: 75px;
				height: 75px;
				border-radius: 50% 0 50% 50%;
			}
		}
	}
}
