* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #ddd;
}

.container {
	width: 500px;
	height: 800px;
	background: #fff url(./images/model-female.png) center/cover no-repeat;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	position: relative;
}
.menu {
	width: inherit;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
}
.menu-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
}
.menu-size {
}
.menu-color {
}
.menu-color li {
	width: 10px;
	height: 10px;
}
