body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrap {
	height: 100vh;
	display: grid;
	grid-template-columns: 300px 1fr 300px;
	grid-template-rows: 100px 150px 1fr 150px 100px;
	/* grid-template-areas:
		"header header header"
		"menu main aside" "footer footer footer"; */
	grid-gap: 10px;
}

.wrap div {
	border: 1px solid #000;
	background: skyblue;
	color: #fff;
	display: grid;
	justify-items: center;
	align-items: center;
}

.header {
	/* grid-area: header; */
	grid-column: 1/4;
}
.menu {
	/* grid-area: menu; */
	grid-row: 2/5;
}
.main {
	/* grid-area: main; */
	grid-row: 2/5;
}
.top {
	grid-row: 2/3;
}
.aside {
	/* grid-area: aside; */
	grid-row: 3/4;
}
.bottom {
	grid-row: 4/5;
}
.footer {
	/* grid-area: footer; */
	grid-column: 1/4;
}
