.parent {
	border: 5px solid green;
	display: flex;
}

.parent div {
	width: 200px;
	height: 200px;
	margin: 5px;
	color: #fff;
	text-align: center;
	background-color: crimson;
}
.child1 {
	/* flex-grow: 1; */
	flex-shrink: 3;
}
.child2 {
	/* flex-grow: 2; */
	flex-shrink: 2;
}
.child3 {
	/* flex-grow: 1; */
	flex-shrink: 1;
}
