@media screen and (min-width: 1221px) {
	.store_search {
		min-width: 1200px;
	}

	.store_info {
		min-width: 1200px;
	}
}
@media screen and (max-width: 1220px) {
	#store_wrap {
		padding: 0 5%;
	}
	.store_search {
		width: 100%;
	}
	.store_info {
		width: 100%;
	}
}
@media screen and (max-width: 1200px) {
	.title_inner h1 {
		text-align: center;
	}
}
@media screen and (max-width: 900px) {
	.store_search {
		width: 100%;
		height: auto;
		border: none !important;
	}
	.store_search_inner {
		display: flex;
		flex-direction: column;
	}
	.store_search_left {
		border-top: 1px solid #dfdfe0;
	}
	.store_search_right {
		border-bottom: 1px solid #dfdfe0;
	}
}
