@import url(./reset.css);

.wrap{
  overflow: hidden;
}

.header {
  width: 100%;
  height: 5.625rem;
  position: relative;
  border-bottom: 1px solid #0bab6d;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.gnb {
  height: inherit;
  margin: 0 auto;
  position: relative;
}
.logo {
  position: absolute;
  left: 7rem;
  top: 50%;
  transform: translateY(-50%);
}
.logo img {
  height: 4.375rem;
}
.gnb-bar{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gnb-bar li::after{
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 8px;
  background: url(./img/ic_star.png) center no-repeat;
}
.gnb-bar li:last-child::after{
  display: none;
}
.gnb-bar li a {
  font-size: 19px;
  font-weight: normal;
  letter-spacing: 0.8px;
}
.gnb-btn{
  position: absolute;
  right: 7rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.gnb-btn .search {
  margin-left: 10px
}
.gnb-btn .search img{
  height: 2rem;
}



.container {
}
.footer {
  display: none;
}