* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

div {
	width: 30px;
	height: 30px;
	position: relative;
}

div span {
	width: 10px;
	height: 10px;
	top: 0;
	left: 0;
	position: absolute;
	display: inline-block;
	animation: move 1.5s infinite;
}

div span:nth-child(1) {
	background: #f00;
}

div span:nth-child(2) {
	background: #0f0;
	animation-delay: 0.8s;
}

@keyframes move {
	0% {
		top: 0;
		left: 0;
	}
	25% {
		top: 0;
		left: calc(100%-10px);
		background-color: dodgerblue;
	}
	50% {
		top: calc(100%-10px);
		left: calc(100%-10px);
		background-color: orange;
	}
	75% {
		top: calc(100%-10px);
		left: 0;
		background-color: yellowgreen;
	}
	100% {
		top: 0;
		left: 0;
	}
}
