@keyframes slide1 {
	0% {
		opacity: 1;
	}
	12.5% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	37.5% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	62.5% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes slide2 {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	37.5% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	62.5% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes slide3 {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	37.5% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	62.5% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes slide4 {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	37.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	62.5% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes slide5 {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	37.5% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	62.5% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes slide6 {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	37.5% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	62.5% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes slide7 {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	37.5% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	62.5% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes slide8 {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	37.5% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	62.5% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	87.5% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
