@import "reset.scss";
@import "font.scss";

body {
	font-family: "pret";
}

#intro {
	background: #f0f0f0;
	height: 100vh;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.welcome {
		background: #f0f0f0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 1050px;
		height: 300px;
		border: 1px solid #f00;
		h1 {
			font-size: 150px;
		}
		h4 {
			font-size: 30px;
		}
	}
}

#main{
	height: 100vh;
	background: #f0f0f0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.main_intro{
		text-align: center;
		h4{
			font-size: 30px;
			font-weight: normal;
			padding: 22px;
		}
		h3{
			font-size: 50px;
			font-weight: normal;
			padding-bottom: 22px;
			span{
				color: #3aa551;
			}
		}
		h5{
			font-size: 20px;
		}
	}
	.main_intro_sub{
		text-align: center;
	}
}

#about_me{
	background: #f0f0f0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	.about_intro{
		font-size: 50px;
		span{
			font-size: 20px;
			color:#ccc
		}
	}
	.about_contact{
		position: absolute;
		top: 0;
		left: 0;
		width: 450px;
		height: 330px;
		background: #fff;
		border-radius: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
}
