@import "reset.scss";
@import "font.scss";

body {
	font-family: "pret";
}

#intro {
	background: #f0f0f0;
	height: 100vh;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.welcome {
		background: #f0f0f0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 1050px;
		height: 300px;
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #f00;
		.kr {
			z-index: 100;
		}
		.cn {
			z-index: 99;
		}
		.us {
			z-index: 98;
		}
		.vn {
			z-index: 97;
		}
		.fr {
			z-index: 96;
		}
		.jp {
			z-index: 95;
		}
		h1 {
			font-size: 150px;
		}
		h4 {
			font-size: 30px;
		}
	}
}
