@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: pret;
  src: url(./font/Pretendard-Medium.subset.ttf);
}
body {
  font-family: "pret";
  background: #f0f0f0;
}
body h1 {
  font-size: 150px;
  font-weight: normal;
}
body h2 {
  font-size: 80px;
  font-weight: normal;
}
body h3 {
  font-size: 50px;
  font-weight: normal;
}
body h4 {
  font-size: 30px;
  font-weight: normal;
}
body h5 {
  font-size: 20px;
  font-weight: normal;
}

#intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#intro section {
  border: 1px solid #0f0;
  width: 1000px;
}
#intro section .intro_box {
  width: 1000px;
  height: 300px;
  background: #f0f0f0;
  overflow: hidden;
}
#intro section .intro_box .welcome {
  display: flex;
  background: #f0f0f0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 300px;
  animation: slide 10s infinite steps(8);
}
#intro section .intro_box .welcome h4 {
  display: flex;
  align-items: center;
}
#intro section .intro_box .welcome h4::before {
  content: "";
  width: 350px;
  height: 4px;
  background: #ccc;
  margin-right: 20px;
}
#intro section .intro_box .welcome h4::after {
  content: "";
  width: 350px;
  height: 4px;
  background: #ccc;
  margin-left: 20px;
}
#intro section .intro_bottom {
  margin-top: 163px;
  text-align: center;
}
#intro section .intro_bottom button {
  display: inline-block;
  background: #3aa551;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 75px;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

@keyframes slide {
  100% {
    transform: translateY(-800%);
  }
}
#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main section {
  border: 1px solid #0f0;
  width: 1000px;
}
#main section .main_intro {
  text-align: center;
}
#main section .main_intro h4 {
  padding: 22px;
}
#main section .main_intro h3 {
  padding-bottom: 22px;
}
#main section .main_intro h3 span {
  color: #3aa551;
}
#main section .main_pic {
  width: 100%;
  height: 480px;
  margin: 35px;
}
#main section .main_pic img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 480px;
  background-color: #ccc;
}
#main section .main_intro_sub {
  text-align: center;
}
#main section .main_bottom {
  margin-top: 20px;
  text-align: center;
}
#main section .main_bottom button {
  display: inline-block;
  background: #3aa551;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 75px;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

#about_me {
  height: 600px;
  display: flex;
  position: relative;
}
#about_me .abuot_left {
  border: 1px solid #0f0;
  width: 860px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}
#about_me .abuot_left .about_intro {
  text-align: center;
  width: 600px;
  height: 150px;
}
#about_me .abuot_left .about_intro span {
  font-size: 20px;
  text-align: center;
  color: #ccc;
}
#about_me .abuot_left .about_intro h2 {
  display: flex;
  align-items: center;
  position: relative;
}
#about_me .abuot_left .about_intro h2::before {
  content: "";
  display: block;
  width: 300px;
  height: 4px;
  background: #3aa551;
  margin-right: 34px;
}
#about_me .abuot_left .about_intro h2::after {
  content: "입니다.";
  font-size: 20px;
  color: #ccc;
  position: absolute;
  bottom: 10px;
  right: 0;
}
#about_me .abuot_left .about_values p span {
  color: #3aa551;
}
#about_me .abuot_right {
  width: 2000px;
  height: 600px;
  border: 1px solid #0f0;
  position: absolute;
}
#about_me .abuot_right div {
  float: left;
}
#about_me .abuot_right .about_contact {
  width: 450px;
  height: 350px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
#about_me .abuot_right .about_edu {
  width: 450px;
  height: 350px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#about_me .abuot_right .about_ability {
  width: 450px;
  height: 350px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#about_me .abuot_right .about_favorite {
  width: 450px;
  height: 350px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#work {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid #f00;
}
#work section {
  display: flex;
  align-items: center;
  position: relative;
}
#work section .work_main {
  border-radius: 20px;
  width: 1200px;
  height: 900px;
  margin: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
#work section .work_main img {
  width: 100%;
}
#work section .work_main .box-content {
  border: 1px solid #f00;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
#work section .work_main:hover {
  opacity: 1;
}
#work section .work_right .work_sub1 {
  border: 1px solid #f00;
  margin-bottom: 80px;
  width: 380px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
#work section .work_right .work_sub1:hover {
  background: rgba(0, 0, 0, 0.4);
}
#work section .work_right .work_sub2 {
  border: 1px solid #f00;
  margin-bottom: 80px;
  width: 380px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
#work section .work_right .work_sub2:hover {
  background: rgba(0, 0, 0, 0.4);
}
#work section .work_right .work_sub3 {
  border: 1px solid #f00;
  width: 380px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
#work section .work_right .work_sub3:hover {
  background: rgba(0, 0, 0, 0.4);
}/*# sourceMappingURL=style.css.map */