@import "reset.scss";
@import "font.scss";

body {
	font-family: "pret";
	background: #f0f0f0;
}

#intro {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.intro_box {
		width: 1050px;
		height: 300px;
		border: 1px solid #f00;
		background: #f0f0f0;
		overflow: hidden;
		.welcome {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 1050px;
			height: 300px;
			animation: slide 1s linear;
			h1 {
				font-size: 150px;
			}
			h4 {
				font-size: 30px;
				display: flex;
				align-items: center;
				&::before {
					content: "";
					width: 350px;
					height: 4px;
					background: #ccc;
					margin-right: 20px;
				}
				&::after {
					content: "";
					width: 350px;
					height: 4px;
					background: #ccc;
					margin-left: 20px;
				}
			}
		}
	}
	button {
		background: #3aa551;
		width: 75px;
		height: 75px;
		border: none;
		border-radius: 75px;
		font-size: 50px;
		color: #fff;
		margin-top: 163px;
		cursor: pointer;
	}
}

@keyframes slide {
	0% {
		transform: translatey(0);
	}
	100% {
		transform: translatey(-600%);
	}
}

#main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.main_intro {
		text-align: center;
		h4 {
			font-size: 30px;
			font-weight: normal;
			padding: 22px;
		}
		h3 {
			font-size: 50px;
			font-weight: normal;
			padding-bottom: 22px;
			span {
				color: #3aa551;
			}
		}
		h5 {
			font-size: 20px;
		}
	}
	.main_intro_sub {
		text-align: center;
	}
}

#about_me {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.about_intro {
		font-size: 20px;
		color: #ccc;
		width: 600px;
		height: 150px;
		span {
			font-size: 50px;
			color: #000;
		}
		p:nth-child(2) {
			display: flex;
			align-items: center;
			&::before {
				content: "";
				display: block;
				width: 300px;
				height: 4px;
				background: #3aa551;
				margin-right: 34px;
			}
			span {
			}
		}
	}
	.about_contact {
		position: absolute;
		top: 0;
		left: 0;
		width: 450px;
		height: 330px;
		background: #fff;
		border-radius: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
	.about_edu {
		position: absolute;
		top: 0;
		left: 0;
		width: 520px;
		height: 250px;
		background: #fff;
		border-radius: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
	.about_values {
		position: absolute;
		top: 0;
		left: 0;
		width: 460px;
		height: 180px;
		background: #fff;
		border-radius: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
	.about_ability {
		position: absolute;
		top: 0;
		left: 0;
		width: 520px;
		height: 390px;
		background: #fff;
		border-radius: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
	.about_favorite {
		position: absolute;
		top: 0;
		left: 0;
		width: 450px;
		height: 330px;
		background: #fff;
		border-radius: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
}
