.parent {
	border: 5px solid #000;
	background: khaki;
	display: grid;
	grid-template-columns: auto auto auto;
}

.parent div {
	text-align: center;
}

.focus {
	background: royalblue;
	color: #fff;
	/* grid-column: 1/span 2;
  grid-row: 1 / span 2; */
	/* grid-column: 2 / span 2;
	grid-row: 2 / span 2; */
	grid-column: 1 / span 2;
}
